<%- include('partials/logheader') %>


<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    
    <hr>
    
  </div>
  <div class="box">
    
    <div class="box">
    
      
        
    
        <div class="item">

        
  
        </div>
 
  
        
    </div>
  
  </div>
  <% for(var i=0; i < projects.length; i++) { %>

  <div class="p-10">  
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <p><%=  projects[i].name  %></p>

      <img class="w-full"  src="data:image/<%=projects[i].image.contentType%>;base64,
              <%=projects[i].image.data.toString('base64')%>" style="width:40%;align-items: center;">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"> <p><%=  projects[i].domain  %></p></div>
        <p class="text-gray-700 text-base">
          <p><%=  projects[i].desc  %></p>        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%=projects[i].technology  %></span>
    
      </div>
    </div>
  </div>
  <% } %>

</div>

<%- include('partials/footer') %>
